<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TabControl_Spawns.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TabControl_Spawns.Properties.Settings>
            <setting name="LastZone" serializeAs="String">
                <value />
            </setting>
            <setting name="LastType" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSpawn" serializeAs="String">
                <value />
            </setting>
            <setting name="LastCharacter" serializeAs="String">
                <value />
            </setting>
            <setting name="LastItemType" serializeAs="String">
                <value />
            </setting>
            <setting name="LastItemId" serializeAs="String">
                <value />
            </setting>
            <setting name="ScriptLocation" serializeAs="String">
                <value>X:</value>
            </setting>
            <setting name="LastSpell" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSpellClass" serializeAs="String">
                <value />
            </setting>
            <setting name="AppearanceCreateType" serializeAs="String">
                <value />
            </setting>
            <setting name="AppearanceWearableType" serializeAs="String">
                <value />
            </setting>
            <setting name="AppearanceWearableItems" serializeAs="String">
                <value />
            </setting>
            <setting name="AppearanceSlots" serializeAs="String">
                <value />
            </setting>
            <setting name="AppearanceSearchText1" serializeAs="String">
                <value />
            </setting>
            <setting name="AppearanceSearchText2" serializeAs="String">
                <value />
            </setting>
            <setting name="BulkLastZone" serializeAs="String">
                <value />
            </setting>
        </TabControl_Spawns.Properties.Settings>
    </userSettings>
</configuration>